[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "==2.9.5"
sqlalchemy = ">=1.4"
pandas = "==1.5.3"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.9"
